<Project>
  <PropertyGroup>
    <TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <RuntimeIdentifierOverride>win-x64</RuntimeIdentifierOverride>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
    <AppxBundle>Never</AppxBundle>
    <AppxAutoIncrementPackageRevision>false</AppxAutoIncrementPackageRevision>
    <AppxPackageVersion>0.1.0.0</AppxPackageVersion>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>
